<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/4fffe162de1745558f5e86e0562785cc.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/inventory.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Pastry Pro | Inventory</title>
</head>
<body>
    <div id="container">
        <aside class="aside">
            <h5>CATEGORIES</h5>
            <ul>
                <li class="categories">Equipment</li>
                <li class="categories">Ingredients</li>
                <li class="categories">Toppings</li>
                <li class="categories">Packaging</li>
                <li class="categories">Cleaning</li>
            </ul>
            <div class="add-category">
                <input type="text" id="add-category">
                <input type="button" value="CREATE">
            </div>
        </aside>
        <main class="main">
            <header class="header">
                <div class="text">
                    <h1>Welcome Irvine</h1>
                    <p>This is your pastry shop inventory management system</p>
                </div>
                <div class="date">
                    14/ 05/ 2022
                </div>
            </header>

            <section id="overview">
                <div class="view_title">Analytics Overview</div>
                <div class="overviews">  
                    <div class="overview one"></div>
                    <div class="overview two"></div>
                    <div class="overview three"></div>
                    <div class="overview four"></div>
                </div>
            </section>

            <section id="stock-list">
                <div class="stock">
                    <div class="stock-title">Product Stock List</div>
                    <div class="add-products">Add Products +</div>
                </div>
                <table class="table table-success table-hover table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody class="table-group-divider">
                      <!-- Table rows will be dynamically generated with product data -->
                      <tr>
                        <td scope="row">001</td>
                        <td>Product 1</td>
                        <td>Category 1</td>
                        <td>SKU001</td>
                        <td>In Stock</td>
                        <td>view product</td>
                      </tr>
                      <tr scope="row">
                        <td>002</td>
                        <td>Product 2</td>
                        <td>Category 2</td>
                        <td>SKU002</td>
                        <td>In Stock</td>
                        <td>view product</td>
                      </tr>
                      <!-- Add more rows as needed -->
                    </tbody>
                  </table>
                  
            </section>
        </main>
    </div>
</body>
</html>