<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/4fffe162de1745558f5e86e0562785cc.png" type="image/x-icon">
    <link rel="stylesheet" href="static/styles/signup.css">
    <title>PastryPro | LogIn</title>
</head>
<body>
    <div class="container">
        <section class="forms">
            <img src="static/images/logo1.png" alt="site logo">
            <div class="text">
                <h1>Hi there!</h1>
                <p>Welcome back to PastryPro</p>
            </div>
            <form action="#" method="post">
                {{ form.csrf_token }}
                {{ form.email.label }} {{ form.email }}
                {{ form.password.label }} {{ form.password }}
                {{ form.submit }}
            </form>
            <small>Don't have an account? <a href="{{ url_for('routes.signup') }}" class="btn btn-primary">Sign Up</a></small>
        </section>
        <section class="image">
            
        </section>
    </div>
</body>
</html>