<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <div class="container">
        <section id="image">
            <a href="{{ url_for('inventory') }}">Back to Inventory</a>
            <img src="{{product.image_url}}" alt="" srcset="">
        </section>
        <section id="details">Details</section>
    </div>
</body>
</html>