<!DOCTYPE html>
<html lang="en">
    <!--templates/signup.html-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/4fffe162de1745558f5e86e0562785cc.png" type="image/x-icon">
    <link rel="stylesheet" href="static/styles/signup.css">
    <title>PastryPro | Signup</title>
</head>
<body>
    <div class="container">
        <section class="forms">
            <img src="static/images/logo1.png" alt="site logo">
            <div class="text">
                <h1>Hi there!</h1>
                <p>Create your free account with PastryPro</p>
            </div>
            <form action="{{ url_for('signup') }}" method="post">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                $(document).ready(function() {
                    setTimeout(function() {
                    $('.flash-messages').fadeOut('slow');
                    }, 5000);
                });
                </script>

                {% with success_messages = get_flashed_messages(with_categories=true, category_filter=['success']) %}
                {% if success_messages %}
                    <ul class="flash-messages success-messages">
                    {% for message in success_messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                {% with error_messages = get_flashed_messages(with_categories=true, category_filter=['danger']) %}
                {% if error_messages %}
                    <ul class="flash-messages error-messages">
                    {% for message in error_messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                {{ form.csrf_token }}
                {{ form.username.label }} {{ form.username }}
                {{ form.email.label }} {{ form.email }}
                {{ form.password.label }} {{ form.password }}
                {{ form.confirm_password.label }} {{ form.confirm_password }}
                {{ form.submit }}
            </form>
            <small>Already have an account? <a href="{{ url_for('login') }}" class="btn btn-primary">Log In</a></small>
        </section>
        <section class="image">
            
        </section>
    </div>
</body>
</html>