@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:ital,wght@0,700;0,900;1,100;1,400;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}


#container{
    width: 80vw;
    height: 96vh;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #ebeeeb;
    border-radius: 15px;
}

.aside{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #6B8863;
}

#calc-price{
    margin: 10px auto 0 auto;
    width: 90%;
}

.aside h5{
    margin: 0;
    padding-left: 10px;
    font-size: 17px;
}

.aside ul{
    width: 97%;
    margin: 0 auto 0 auto;
    padding: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside ul li{
    color: #ffffff;
    list-style-type: none;
    margin: 5px 0;
    margin-left: 10px;
    height: 25px;
    border-radius: 35px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-category{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.error{
    color: #FF0000;
}

.main{
    width: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h1{
    margin: 0;
    padding: 0;
}

.text p, .date{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#overview{
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#view_title{
    font-size: 17px;
}

.overviews{
    display: flex;
    flex-wrap: wrap;
    /*overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;*/
}

.overview{
    height: 120px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    border-radius: 10px;
    scroll-snap-align: start;
}

.item-4{
    background-color: rgba(192,154,153,.5);
}

.item-3{
    background-color: rgba(184,152,193,.5);
}

.item-2{
    background-color: rgba(161,192,154,.5);
}

.item-1{
    background-color: rgba(254,208,151,.5);
}

#stock-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.stock{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.add-products{
    cursor: pointer;
    padding: 10px;
    background-color: #747476;
    border-radius: 35px;
}

.logout{
    text-align: center;
    margin-bottom: 5px;
    padding: 3px;
    cursor: pointer;
}

.logout a{
    text-decoration: none;
    color: #161616;
    width: 100%;
    height: 100%;
}

.logout:hover{
    background-color: #6B8863;
    color: #ebeeeb;
}



.bake a{
    color: #ffffff;
    text-decoration: none;
}


.flash-messages {
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  .success-messages {
    background-color: #dff0d8; /* Green background color for success messages */
  }
  
  .error-messages {
    background-color: #f2dede; /* Red background color for error messages */
  }
  