@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:ital,wght@0,700;0,900;1,100;1,400;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flash-messages {
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  
  .success-messages {
    background-color: #dff0d8; /* Green background color for success messages */
  }
  
  .error-messages {
    background-color: #f2dede; /* Red background color for error messages */
  }
  

.container{
    width: 75vw;
    height: 600px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 30px;
}

.forms{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.forms img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 0 0 10px;
}

.text{
    text-align: center;
    margin-top: 20px;
}
.text h1{
    font-size: 60px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.text p{
    font-size: 12px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-top: -10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 90%;
    margin-bottom: 0;
}

form input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    align-self: self-start;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    outline: none;
}

#submit{
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: #1c1c1c;
    color: #ffff;
    padding-left: 0;
}

form label{
    align-self: self-start;
    font-size: 14px;
}

small{
    text-align: center;
    font-size: 11px;
}
.image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
