<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/4fffe162de1745558f5e86e0562785cc.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>PastryPro | Home</title>
</head>
<body>
    <!--NAV SECTION-->
    <nav id="nav_bar">
        <div id="logo">
            <img src="/static/images/logo1.png" alt="site's logo">
        </div>
        <ul id="list">
            <li class="list_item">HOME</li>
            <li class="list_item">ABOUT</li>
            <li class="list_item">FEATURES</li>
            <li class="list_item">CONTACT</li>
        </ul>
    </nav>

    <!--HOME SECTION-->
    <section id="home">
        <div id="brand_name">
            <h1>PRO PASTRY</h1>
        </div>
        <div id="img1">
            <img  src="/static/images/basket2.png" alt="bread basket">
        </div>
        <div id="intro">
            <p class="intro">Welcome to PastryPro, the ultimate inventory management system for bakers. Streamline your operations, track ingredients, and optimize your production process with ease. Unlock the power of efficient inventory management and elevate your bakery business to new heights</p>
        </div>
        <div id="img2">
            <img class="img2" src="/static/images/branch.png" alt="wheat branch">
        </div>
    </section>

    <!--ACTION SECTION-->
    <section id="action">
        <div class="action">
            <div id="register">Register</div>
            <div id="login">Log In</div>
        </div>
    </section>

    <!--ABOUT SECTION-->
    <section id="about">
        <div class="about">
            <div class="about_title">
                <h2 id="about_title">ABOUT US</h2>
            </div>
            <div class="about_text">
                <p id="about_text">At PastryPro, we understand the challenges bakers face in managing inventory and ensuring consistent quality. Our journey began with a shared vision to revolutionize the way bakeries operate. We've poured our expertise into developing a comprehensive inventory management system tailored specifically for bakers, empowering them to focus on what they do best – creating exceptional pastries.</p>
            </div>
        </div>
    </section>

    <!--FEATURES SECTION-->
    <h2 id="feat">FEATURES</h2>
    <section id="features">
        <div class="feature">
            <div class="fpic">
                <img src="/static/images/inventory.png" alt="">
            </div>
            <div class="fwords">
                <h3 class="ftitle">INVENTORY</h3>
                <p class="fdescription">Effortlessly manage your bakery inventory with our intuitive inventory feature. Track ingredient quantities, monitor stock levels, and receive real-time notifications for low inventory items.</p>
            </div>
        </div>
        <div class="feature">
            <div class="fpic">
                <img src="/static/images/price.png" alt="cost calculation">
            </div>
            <div class="fwords">
                <h3 class="ftitle">PRICING</h3>
                <p class="fdescription">Our powerful pricing feature empowers bakers to accurately determine the perfect price for their pastry products. Seamlessly calculate ingredient costs, labor, and overhead expenses, ensuring optimal pricing for profitability.</p>
            </div>
        </div>
        <div class="feature">
            <div class="fpic">
                <img src="/static/images/analytics.png" alt="analytics">
            </div>
            <div class="fwords">
                <h3 class="ftitle">ANALYTICS</h3>
                <p class="fdescription">Unlock valuable insights and make data-driven decisions with our robust analytics feature. Dive deep into sales trends, customer preferences, and product performance to identify opportunities for growth and improvement.</p>
            </div>
        </div>
        <div class="feature">
            <div class="fpic">
                <img src="/static/images/ingredients.png" alt="pastry recipe">
            </div>
            <div class="fwords">
                <h3 class="ftitle">RECIPES</h3>
                <p class="fdescription">
                    With PastryPro, you can easily create, store, and manage your recipes all in one place. Capture your tried-and-true recipes or experiment with new ones, and effortlessly organize them by category, type, or any custom tags you prefer.
                </p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
          <p class="footer-text">PastryPro &copy; 2023. All rights reserved.</p>
        </div>
      </footer>
</body>
</html>

        
        
        