<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/4fffe162de1745558f5e86e0562785cc.png" type="image/x-icon">
    <title>PastryPro | LogIn</title>
</head>
<body>
    <div class="container">
        <section class="forms">
            <form action="#" method="post">
                {{ form.csrf_token }}
                {{ form.email.label }} {{ form.email }}
                {{ form.password.label }} {{ form.password }}
                {{ form.submit }}
            </form>
        </section>
        <section class="image">

        </section>
    </div>
</body>
</html>